<html>
  <head>
    <link rel="stylesheet" >
    <title>Kalkulator</title>
  </head>
  <body>
    <div id="app">
      <div>
        <div class="calculator">
          <div class="formulaScreen"></div>
          <div class="outputScreen" id="display">0</div>
          <div>
            <button class="jumbo" id="clear" value="C" style="background: rgb(221, 27, 27);">C</button>
            <button id="divide" value="/" style="background: rgb(32, 31, 31);">/</button>
            <button id="myltiply" value="*" style="background: rgb(32, 31, 31);">*</button>
            <button id="seven" value="7">7</button>
            <button id="eight" value="8">8</button>
            <button id="nine" value="9">9</button>
            <button id="subtract" value="-" style="background: rgb(32, 31, 31);">-</button>
            <button id="four" value="4">4</button>
            <button id="five" value="5">5</button>
            <button id="six" value="6">6</button>
            <button id="add" value="+" style="background: rgb(32, 31, 31);">+</button>     
            <button id="one" value="1">1</button>
            <button id="two" value="2">2</button>
            <button id="three" value="3">3</button>
            <button class="jumbo" id="zero" value="0">0</button>             
            <button id="decimal" value=".">.</button>
            <button id="equals" value="=" style="background: rgb(9, 13, 238); position: absolute; height: 130px; bottom: 5px;">=</button>
            
          </div>
        </div>
        <div class="author">
          "Designed and coded by"
          <br>
          <a href="https://goo.gl/6NNLMG" target="_blank">Jelena Basaric</a>
        </div>
      </div>
    </div>
    <script crossorigin="" src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin="" src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="src\app\bundle.js"></script>
  </body>

</html>